body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.site-header {
  background-color: #005A9C;
  color: white;
  padding-bottom: 10px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-home {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 60px;
}

.home-button {
  background-color: #f0f0f0;
  color: #333;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.language-switch button {
  background-color: #444;
  color: white;
  border: none;
  margin-left: 5px;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.journal-title {
  text-align: center;
  margin-top: 10px;
}

.journal-title h1 {
  font-size: 28px;
  margin: 10px 0;
}

.journal-meta {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 14px;
  color: #ccc;
}

.main-nav {
  background-color:#005A9C;
  margin-top: 15px;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.main-nav li {
  margin: 0 15px;
}

.main-nav a {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}
.journal-sidebar {
  background-color: #005A9C;
  padding: 20px;
  width: 250px;
  font-family: Arial, sans-serif;
   border-top: 2px solid #ccc
   border-bottom: 2px solid #ccc
   border-right: 2px solid #ccc
}

.journal-sidebar h3 {
  margin-top: 0;
  font-size: 18px;
  color: #FFD700;
}

.journal-sidebar ul {
  list-style: none;
  padding: 0;
}

.journal-sidebar li {
  margin: 10px 0;
}

.journal-sidebar a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}

.journal-sidebar a:hover {
  color: #005A9C;
}
